body{
  background-color: #FFFFFF;
}
.rep-heading{
  color: #0097A7;
}
.color-bg{
background-color: #B2EBF2;
}
#phot-border{
  border: 0.1em solid  #B2EBF2 ;
}
.first-heading{
  text-align: center;
}
