body{
  background-color: #FFFFFF;
}
.rep-heading{
  color: #00BCD4;
}
.color-bg{
background-color: #00BCD4;
}
#phot-border{
  border: 0.1em solid  #B2EBF2 ;
}
.first-heading{
  text-align: center;
  text-decoration: underline;
}
#about-you{
  text-align: center;
  text-decoration: underline;
}
#send-form{
  margin-left: 40% ;
  margin-right:40%;
  width: 20%
}
.color-icon{
color: #00BCD4;
}
.btn-search{
background-color: #00BCD4;
color: white;
}
