body {
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(left, #FFFFFF, #BDBDBD);
  overflow-x: hidden;
}

#moha {
  background-color: #00bcd4;
}

td {
  margin-right: 2em;
}

.carousel-item {
  height: 25rem;
}

.carousel-item img {
  height: 25rem;
}

#footer {
  color: white;
  background: -webkit-linear-gradient(left, #757575, #263238)
}

th {
  color: #00bcd4;
}

#tb {
  margin-left: 50px;
}

.underline {
  border-bottom: 2px solid #00bcd4;
}

.link {
  color: white;
}

.icon-color {
  color: #00BCD4;
}

.btn-blue {
  background-color: #00BCD4;
  color: white;
}

#under-carousel {
  margin-top: 4rem;
}
